body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222831;
  color: #eeeeee;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#initial-screen {
  text-align: center;
  background-color: #393e46;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 36px;
  color: #00adb5;
}

h2 {
  font-size: 24px;
  color: #00adb5;
  margin-top: 20px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 10px;
}

#play-button {
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 20px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#play-button:hover {
  background-color: #eeeeee;
  color: #222831;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
#notification-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.5s;
  display: none;
}

.row {
  display: flex;
}

/* cells styles */
.cell {
  width: 30px;
  height: 30px;
  border: 0.5px solid #393e46;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ship {
  background-color: #00adb5;
}
.ship.hit {
  background-color: red;
}
.miss {
  background-color: white;
}
.hit {
  background-color: red;
}

.hidden {
  display: none;
}

#setup-screen {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 95%;
  height: 60vh;
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* Style for draggable ships container */
#ship-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

/* Style for draggable ships */
.draggable-ship {
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.draggable-ship:hover {
  background-color: #eeeeee;
  color: #222831;
  transform: scale(1.1);
}

/* Style for draggable ships while dragging */
.draggable-ship:active {
  opacity: 0.4;
}

.row-dropzone {
  display: flex;
}

/* Style for ship length display */
.draggable-ship::after {
  content: 'Ship ' attr(data-length) ' cells'; /* Display ship length */
  font-size: 14px;
  display: block;
  margin-top: 5px;
  color: #eeeeee;
}

/* CSS styles for drop zones */
.drop-zone {
  width: 40px;
  height: 40px;
  border: 2px dashed #393e46;
  margin: 5px;
}
