body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1501767329646-f8a78149195c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  color: #eeeeee;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#initial-screen {
  text-align: center;
  background-color: #393e46e8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 60%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 36px;
  color: #00adb5;
}

h2 {
  font-size: 24px;
  color: #00adb5;
  margin-top: 20px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 10px;
}

#play-button,
#start-button,
#reset-button {
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 20px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#play-button:hover,
#start-button:hover,
#reset-button:hover {
  background-color: #eeeeee;
  color: #222831;
}

#buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
}
#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#setup-display {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 750px;
}
#notification-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 1.5s;
}

.row {
  display: flex;
}

/* cells styles */
.cell {
  width: 30px;
  height: 30px;
  background-color: #385b75bf;
  border: 0.5px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#player2-board-display div.cell {
  cursor: pointer;
}
.ship {
  background-color: #00adb5;
}
.ship.hit {
  background-color: red;
}
.miss {
  background-color: white;
}
.hit {
  background-color: red;
}

#ship-position {
  text-align: center;
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 24px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Style for the ship position indicator when it's vertical */
#ship-position.vertical {
  background-color: #ff5722; /* You can choose a different color if you prefer */
}

.rotated {
  transform: rotate(90deg);
}
#setup-screen {
  display: flex;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 95%;
  height: 60vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* Style for draggable ships container */
#ship-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

/* Style for draggable ships */
.draggable-ship {
  margin-top: 20px;
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.draggable-ship:hover {
  background-color: #eeeeee;
  color: #222831;
  /* transform: scale(1.1); */
}

/* Style for draggable ships while dragging */
.draggable-ship:active {
  opacity: 0.4;
}

.row-dropzone {
  display: flex;
}

/* Style for ship length display */
.draggable-ship::after {
  content: 'Ship ' 'size ' attr(data-length); /* Display ship length */
  font-size: 14px;
  display: block;
  margin-top: 5px;
  color: #eeeeee;
}

/* CSS styles for drop zones */
.drop-zone {
  width: 40px;
  height: 40px;
  border: 2px dashed #eeeeee;
  margin: 5px;
}

.out-of-bounds {
  background-color: #ff0000; /* Red color, for example */
}

.in-bounds {
  background-color: green;
}

.placed {
  background-color: #00adb5;
}

/* Style the game-over modal container */
#game-over-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Style the game-over content */
.game-over-content {
  background-color: #fff;
  padding: 25px 150px;
  border-radius: 5px;
  text-align: center;
}

/* Style the winner message */
#winner-message {
  color: black;
  font-size: 18px;
  margin: 10px 0;
}

/* Style the play-again button */
#play-again-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.fleet-indicator {
  background-color: #37474f;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style for the "Your Fleet" indicator */
.your-fleet {
  background-color: #1976d2; /* Customize the color as needed */
}

/* Style for the "Enemy Fleet" indicator */
.enemy-fleet {
  background-color: #d32f2f; /* Customize the color as needed */
}

#legend {
  display: flex;
  position: fixed;
  top: 10px;
  width: 40%;
  justify-content: space-around;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Add a semi-transparent background */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

#missed-shoot,
#accurate-shoot,
#own-ship {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Make the color indicators circular */
  display: inline-block;
  margin-right: 10px;
}

#missed-shoot {
  background-color: #ffffff;
}

#accurate-shoot {
  background-color: red;
}

#own-ship {
  background-color: #00adb5;
}

span {
  margin-top: 5px;
  display: inline-block;
  margin-right: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.hidden,
#game-over-modal.hidden,
#display.hidden {
  display: none;
}
